<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stuff/header.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="">
	<title>turkuazz //</title>
	<meta name="referrer" content="origin">
  	<meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body>
<nav class="big uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar uk-dropnav>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
					<li><a class="uk-margin-small-bottom header-upload" href="/index.html?i=upload">upload</a></li>
					<li><a class="uk-margin-small-bottom header-download" href="/index.html?i=download">download</a></li>
                </ul>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-logo uk-navbar-item header-logo" href="/index.html?i=upload"><img src="/stuff/logo.jpg" style="min-height:36px;min-width:128px;" width="128px" height="36px" alt="logo"></a></li>
                </ul>
            </div>
			<div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
					<li><a class="uk-margin-small-bottom header-upload" href="/index.html?i=files">files</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>