bottle==0.13.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
clr-loader==0.2.6
cryptography==44.0.2 
deflate==0.7.0
idna==3.10
numpy==2.1.1
opencv-python==4.10.0.84
proxy_tools==0.1.0
pycparser==2.22
pythonnet==3.0.4
pywebview==5.2
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.3