
<div class="download-form" enctype="multipart/form-data" novalidate>
	<div class="uk-flex uk-margin-left">
		<div class="uk-flex uk-flex-column">
			<div style="width:250px;">
				<label for="weburl">webid or url</label>
				<input type="text" class="weburl uk-input" required/>
			</div>
			<div class="uk-margin-top">
				<button class="bbutton uk-button" type="submit">Download</button>
			</div>
			<div>
				<p class="result"></p>
			</div>
		</div>

		<div class="uk-flex uk-margin-left" style="flex-direction:column;width:calc(90% - 250px)">
			<code class="console" style="overflow: scroll;height:550px;width:100%;">
				<p>console area</p>
			</code>
			<label for="autoscroll"><input type="checkbox" class="autoscroll" checked>autoscroll</label>
			<div class="uk-margin-top">
				<button class="uk-button uk-button-danger abortButton" style="cursor:not-allowed" type="button" disabled>Abort</button>
			</div>
		</div>
	</div>
</div>

<script>
	const result_el = document.querySelector(".result")
	const weburl_el = document.querySelector(".weburl")
	const download_button = document.querySelector(".bbutton")
	const abort_button = document.querySelector(".abortButton")

	download_button.addEventListener("click", ()=>{
		download_button.style.cursor = "not-allowed"
		weburl_el.style.cursor = "not-allowed"
		abort_button.style.cursor = "not-allowed"
		window.pywebview.api.download(weburl_el.value).then((r)=>{
			result_el.innerHTML = r["status"];
		})
	})

	abort_button.addEventListener("click", ()=>{
		download_button.style.cursor = "not-allowed"
		weburl_el.style.cursor = "not-allowed"
		abort_button.style.cursor = "not-allowed"
		window.pywebview.api.download_abort(weburl_el.value).then((r)=>{
			result_el.innerHTML = r["status"];
			download_button.style.cursor = "pointer"
			weburl_el.style.cursor = "pointer"
			abort_button.style.cursor = "pointer"
		})
	})



</script>
