<div style="display:flex;flex-direction:column;align-items: center">
	<h2>Manage Categories</h2>
	<div class="content" style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
		<p style="color: green !important; font-weight: bold; background-color: #e0ffe0; padding: 10px; border-radius: 5px; text-align: center; width: 100%;display:none" class="success-message">Success</p>

		<div class="page1" style="display:flex; flex-direction: column; align-items: center; gap: 10px;">
			<button class="uk-button" onclick="showCreateCategory();">Create New Category</button>
			<br>
			<label for="categorySelect">Category:</label>
			<select class="uk-select" id="categorySelect"></select>
			<div style="display: flex; gap: 10px; margin-top: 10px;">
				<button class="uk-button" onclick="showEditCategory();">Edit Selected Category</button>
				<button class="uk-button" onclick="deleteCategory();">Delete Selected Category</button>
			</div>
		</div>

		<div style="display:none;" class="page2">
			<div class="createcatg_div" style="max-width: 500px;">
				<label for="categoryParent">parent category:</label>
				<select class="uk-select editing_parent" id="categoryParent">
				</select>
				<br>
				<label for="categoryName">Category Name:</label><br>
				<input class="uk-input editing_name" id="categoryName" type="text" placeholder="Category Name">
				<br>
				<div style="display: flex; gap: 10px; margin-top: 10px;">
					<button onclick="createCategory();" class="uk-button">Save</button>
					<button onclick="cancel();" class="uk-button">Cancel</button>
				</div>
			</div>
		</div>

		<div style="display:none;" class="page3">
			<div class="editcatg_div" style="max-width: 500px;">
				<label style="font-weight: 600; color: #2c3e50;">full directory of the category:</label><span id="currentCategory" style="color: #3498db; margin-left: 5px; font-style: italic;"></span>
				<br>
				<label style="font-weight: 600; color: #2c3e50;">name of the category:</label><br>
				<span id="currentCategory_name" style="color: #3498db; font-style: italic;"></span>
				<br>
				<label for="newCategoryName">New Name:</label><br>
				<input class="uk-input editing_name" id="newCategoryName" type="text" placeholder="New Category Name">
				<br>
				<div style="display: flex; gap: 10px; margin-top: 10px;">
					<!-- <button onclick="updateCategory();" class="uk-button">Update</button> -->
					<button onclick="alert('not added yet');" class="uk-button">Update</button>
					<button onclick="cancel();" class="uk-button">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function loadCategories(){
	document.getElementById("categorySelect").innerHTML = "";
	window.pywebview.api.get_categories().then(function(response){
		const categories = response["categories"];
		if (Object.keys(categories).length > 0) {
			categories.forEach(ctg => {
				const option = document.createElement("option");
				option.value = ctg;
				option.textContent = ctg;
				document.getElementById("categorySelect").appendChild(option);
			});
		}
	});
}


function showEditCategory(){
	const categorySelect = document.getElementById("categorySelect");
	const category_dir = categorySelect.value;
	if (!category_dir) return;
	
	document.querySelector(".page1").style.display = "none";
	document.querySelector(".page2").style.display = "none";
	document.querySelector(".page3").style.display = "block";
	
	document.getElementById("currentCategory").textContent = category_dir;
	document.getElementById("currentCategory_name").textContent = category_dir.slice(0, -1).split('/').pop();
}

function deleteCategory(){
	confirm("deleting from here is not permitted for now. visit:\n\rhttps://turkuazz.vip/")
	// const categoryId = document.getElementById("categorySelect").value;
	// if (!categoryId) return;
	// if (confirm("Are you sure you want to delete this category?")) {
	// 	window.pywebview.api.delete_category(categoryId).then(function(response){
	// 		if (response.startsWith("1success")){
	// 			loadCategories();
	// 			const successMessage = document.querySelector(".success-message");
	// 			successMessage.style.display = "block";
	// 			successMessage.textContent = "Category deleted successfully";
	// 			setTimeout(function(){
	// 				successMessage.style.display = "none";
	// 			}, 3000);
	// 		}
	// 	});
	// }
}
function showCreateCategory(){
	document.querySelector(".page1").style.display = "none";
	document.querySelector(".page3").style.display = "none";
	document.querySelector(".page2").style.display = "block";
	document.getElementById("categoryParent").value = "";
	document.getElementById("categoryParent").innerHTML = '<option value="/">/</option>';
	window.pywebview.api.get_categories().then(function(response){
		const categories = response["categories"];
		if (Object.keys(categories).length > 0) {
			categories.forEach(ctg => {
				const option = document.createElement("option");
				option.value = ctg;
				option.textContent = ctg;
				document.getElementById("categoryParent").appendChild(option);
			});
		}
	});
	document.getElementById("categoryName").value = "";
}
function createCategory(){
	const name = document.getElementById("categoryName").value;
	const parentCatg = document.getElementById("categoryParent").value;
	window.pywebview.api.create_category(name, parentCatg).then(function(response){
		if (response.startsWith("1success")){
			loadCategories();
			document.querySelector(".page2").style.display = "none";
			document.querySelector(".page3").style.display = "none";
			document.querySelector(".page1").style.display = "block";
			const successMessage = document.querySelector(".success-message");
			successMessage.style.display = "block";
			successMessage.textContent = "Category saved successfully";
			setTimeout(function(){
				successMessage.style.display = "none";
			}, 3000);
		} else {
			echostuff(response);
		}
	});
}

function cancel(){
	document.getElementById("categoryParent").value = "";
	document.getElementById("categoryName").value = "";
	document.querySelector(".page2").style.display = "none";
	document.querySelector(".page3").style.display = "none";
	document.querySelector(".page1").style.display = "block";
	document.querySelector(".success-message").style.display = "none";
}

// DOMContentLoaded and window.onload did not worked for some reason
setTimeout(loadCategories, 0);

function echostuff(stuff){
	window.pywebview.api.echostuff(stuff);
}
</script>
