
<div style="display:flex;flex-direction:column;align-items: center">
	<h2>edit</h2>
	<div class="content" style="display: flex; flex-direction: column; align-items: center; gap: 20px;"></div>
		<div>
			<p style="color: green !important; font-weight: bold; background-color: #e0ffe0; padding: 10px; border-radius: 5px; text-align: center; width: 100%;display:none" class="success-message">success</p>
			<div class="page1" style="display:flex;">
				<div class="selectvid">
					<label for="file">file:</label><br>
					<input class="uk-input" id="searchbyweburl" type="text" placeholder="Search by weburl" onkeypress="if(event.key === 'Enter') searchinall()">
					<select class="uk-select" id="categorySelect" onchange="loadVideos()"></select>
	
					</select>
					<br>
					<label for="videoSelect">video:</label><br>
					<select class="uk-select" id="videoSelect" onchange="$('#searchbyweburl').val($('#videoSelect').val())">
	
					</select>
					<button class="uk-button" onclick="loadpage1();">go editing</button>
				</div>
			</div>
			





			<div style="display:none;" class="page2">
				<div class="editselectedvid" style="max-width: 500px;">
					<label for="file">file:</label><br>
					<input class="uk-input editing_video" id="theweburl" type="text" readonly>
					<br>
					<label for="filetype">filetype:</label>
					<label><input class="filetype-video uk-radio" type="radio" name="ftype" value="video">video</label>
					<label><input class="filetype-photo uk-radio" type="radio" name="ftype" value="photo">photo</label>
					<label><input class="filetype-text uk-radio" type="radio" name="ftype" value="text">text</label>
					<label><input class="filetype-other uk-radio" type="radio" name="ftype" value="other">other</label>
					<br>
					<label for="edit_name">name:</label><br>
					<input class="uk-input editing_name" id="edit_name" type="text" placeholder="name">
					<br>
					<label for="edit_about">about:</label><br>
					<textarea style="min-width: 100px; max-width: 500px; min-height: 100px; max-height: 500px;" class="uk-textarea editing_about" id="edit_about" placeholder="about"></textarea>
					<br>
					<label for="edit_category">category:</label><br>
					<select class="uk-select editing_category" id="edit_category">
						<!-- categories -->
					</select>
					<br>
					<label for="visibility">visibility:</label>
					<label><input class="visibility-private uk-radio" type="radio" name="visibility" value="private">private</label>
					<label><input class="visibility-unlisted uk-radio" type="radio" name="visibility" checked="" value="unlisted">unlisted</label>
					<br>
	
					<button onclick="editvid();" class="uk-button">edit</button>
				</div>
			</div>
			
		</div>

	</div>
</div>

<script>
// select editing vid
	function loadcategories(){
		$("#categorySelect").empty();
		window.pywebview.api.get_categories().then(function(response){
			categories = response["categories"];
			if (Object.keys(categories).length > 0) {
				categories.forEach(ctg => {
					$("#categorySelect").append(`<option value="${ctg}">${ctg}</option>`);
				});
				loadVideos(categories[0]);
			}
		});
	}
	loadcategories();
	function loadVideos(loadcatg="", weburlisfirst=true){
		$("#videoSelect").empty();
		if (loadcatg != "") {
			$("#categorySelect").val(loadcatg);
		}
		const category = $("#categorySelect").val();
		if (category == null) return;
		window.pywebview.api.get_files(category).then(function(response){
			files = response["files"];
			if (files.length > 0) {
				files.forEach(file => {
					$("#videoSelect").append(`<option value="${file[0]}">${file[1]}</option>`);
				});
				if (weburlisfirst === true){
					$('#searchbyweburl').val(files[0][0]);
				} else {
					$('#videoSelect').val(weburlisfirst);
				}
			} else {
				$("#searchbyweburl").val("");
			}
		});
	}
	function searchinall(){
		$("#videoSelect").empty();
		const search = Number($("#searchbyweburl").val());
		echostuff(search);
		window.pywebview.api.searchinall(search).then(function(response){
			file = response["file"];
			$("#categorySelect").val(file[2]);
			loadVideos("",search);
		});
	}




// edit the selected video
function loadcatg_p1(){
	$("#edit_category").empty();
	window.pywebview.api.get_categories().then(function(response){
		categories = response["categories"];
		if (Object.keys(categories).length > 0) {
			categories.forEach(ctg => {
				$("#edit_category").append(`<option value="${ctg}">${ctg}</option>`);
			});
		}
	});
}
function loadpage1(){
	$(".success-message").css("display", "none");
	const weburl = $("#searchbyweburl").val();
	loadcatg_p1();
	window.pywebview.api.searchinall(weburl).then(function(response){
		file = response["file"];
		echostuff(file);
		if (!file){
			$(".page2").hide();
			$(".page1").show();
			return;
		};
		$(".page1").hide();
		$(".page2").show();
		$("#theweburl").val(file[0]);
		$(".editing_name").val(file[1]);
		$(".editing_about").val(file[5]);
		$(".editing_category").val(file[2]);
		$(`.filetype-${file[4]}`).prop('checked', true);
		if (file[6] == "0") {
			$(`.visibility-unlisted`).prop('checked', true);
		} else {
			$(`.visibility-private`).prop('checked', true);
		} 
	});
}

function editvid(){
	const weburl = $("#theweburl").val();
	const name = $(".editing_name").val();
	const about = $(".editing_about").val();
	const category = $(".editing_category").val();
	const filetype = $("input[name='ftype']:checked").val();
	const visibility = $("input[name='visibility']:checked").val();
	window.pywebview.api.editvid(weburl, name, about, category, filetype, visibility).then(function(response){
		echostuff(response);
		if (response.startsWith("1success")){
			$(".page2").hide();
			$(".page1").show();
			$(".success-message").css("display", "block");
		}
	});
}

// Handle focus query parameter on load
const urlParams = new URLSearchParams(window.location.search);
const focusvid = urlParams.get('focus');
if (focusvid) {
	$('#searchbyweburl').val(focusvid);
	loadpage1();
}
function echostuff(stuff){
	window.pywebview.api.echostuff(stuff);
}
</script>