<div>
	<a class="catg-menu uk-button uk-button-default uk-margin-bottom" style="display:flex;height:35px;width:81px;" uk-icon="icon: menu" uk-toggle="target: .categories"></a>
</div>
<div uk-grid>
	<div class="categories uk-width-1-5@l uk-width-small">
		<div class="uk-margin-bottom">
			<a onclick="catg_togglerr()" class="catg-toggler"><span class="uk-icon" uk-icon="icon: chevron-down"></span>expand</a>
		</div>
		<div class="uk-box-shadow-medium category-list-div" style="overflow-wrap:anywhere;border-right:solid white;border-width:2px;border-radius:5px;">
			<!--  -->
		</div>
	</div>
	<div uk-filter="target: .js-filter" class="uk-text-center uk-width-expand uk-grid-item-match " uk-grid>
		<div uk-grid>
			<div class="uk-width-expand breadcrumbs">
				<!--  -->
			</div>
			<br>
			<div class="uk-flex-right">
				<div style="display:flex;flex-direction: row;">
					<div>
						<a class="uk-navbar-toggle" uk-search-icon uk-height-match=".reload-img" style="min-height:32px;min-width:32px;margin-right:16px;"></a>
						<div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
							<form class="uk-search uk-search-navbar uk-width-1-1"
							onsubmit='window.location.href="/index.html?i=files&c=search:" + document.getElementById("searchmis").value; return false;'>
								<input class="uk-search-input" id="searchmis" placeholder="Search" aria-label="Search" autofocus>
							</form>
						</div>
					</div>
					<div>
						<img class="reload-img" style="width:32px;height:32px;border-radius:20%;margin-right:25px" src="/stuff/reload.png" alt="reload"
							onclick="pywebview.api.get_categories(true).then(() => { 
									pywebview.api.get_files('',true).then(() => {
										window.location.reload();
									})
								});">
					</div>
				</div>
				
				<div class="uk-inline sort-button" style="display:none;">
					<a class="uk-button uk-button-default" type="button">sort by:</a>
					<div uk-dropdown="mode: click" class="uk-child-width-1-1">
						<ul class="uk-nav uk-dropdown-nav">
							<li uk-filter-control="sort: data-name"><a>a to z</a></li>
							<li uk-filter-control="sort: data-name; order: desc"><a>z to a</a></li>
							<li uk-filter-control="sort: data-size"><a>small to big</a></li>
							<li uk-filter-control="sort: data-size; order: desc"><a>big to small</a></li>
							<li uk-filter-control="sort: data-time"><a>old to new</a></li>
							<li uk-filter-control="sort: data-time; order: desc"><a>new to old</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section" style="padding-top:0px !important;">
			<div class="uk-container">
			<ul class="uk-grid-match uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1 js-filter catg-files" uk-grid>
				<!--  -->
			</ul>
			<ul class="uk-grid-match uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1 js-filter uploaded-files" uk-grid>
				<!--  -->
			</ul></div>
		</div>
	</div>
</div>

<script>
const catgFiles = document.querySelector(".catg-files");
const uploadedFiles = document.querySelector(".uploaded-files");

function catg_togglerr() {
	catg_toggler = document.getElementsByClassName("catg-toggler")[0];
	var indexes = document.getElementsByClassName("uk-nav");
	for(var i = 0; i<indexes.length; i++){
		UIkit.nav(indexes[i]).toggle() 
	}
	if ((catg_toggler.outerHTML).includes('uk-icon="icon: chevron-up"')) {
		catg_toggler.outerHTML = '<a onclick="catg_togglerr()" class="catg-toggler"><span class="uk-icon" uk-icon="icon: chevron-down"></span>expand</a>' ;
	} else {
		catg_toggler.outerHTML = '<a onclick="catg_togglerr()" class="catg-toggler"><span class="uk-icon" uk-icon="icon: chevron-up"></span>shrink</a>' ;
	}
}

const catg_menu = document.querySelector('.catg-menu');
function catgmenu_toggler() {
	UIkit.toggle(catg_menu).toggle();
}
// catgmenu_toggler();
function showImage(elemId, imgSrc) {
	const elem = document.getElementById(elemId);
	elem.src = imgSrc;
}
function hideImage(elemId, imgSrc) {
	const elem = document.getElementById(elemId);
	elem.src = imgSrc;
}



function copyTextToClipboard(text) {
	navigator.clipboard.writeText(text).then(function() {
		echostuff('copied text: ' + text);
	}, function(err) {
		console.error('could not copy: ' + text, err);
	});
}

function echostuff(stuff){
	window.pywebview.api.echostuff(stuff);
}

window.pywebview.api.get_categories_list().then(
	function(response){
		const target_dir = document.querySelector(".category-list-div");
		const categories = response["categories"];

		// Recursive function to build the category tree
		function buildCategoryTree(container, path, categoryObj) {
					if (typeof categoryObj === 'object' && !Array.isArray(categoryObj) && Object.keys(categoryObj).length > 0) {
						let ul = document.createElement('ul');
						ul.className = 'uk-nav-default';
						ul.setAttribute('uk-nav', '');
						ul.style.paddingLeft = '0';
						
						for (let category in categoryObj) {
							const newPath = path ? `${path}/${category}` : category;
							const value = categoryObj[category];
							
							if (typeof value === 'object' && !Array.isArray(value) && Object.keys(value).length > 0) {
								// This category has subcategories
								let li = document.createElement('li');
								li.className = 'uk-parent';
								
								let anchor = document.createElement('a');
								anchor.href = `/index.html?i=files&c=${newPath}/`;
								
								let span1 = document.createElement('span');
								span1.onclick = function() { window.location.href = `/index.html?i=files&c=${newPath}/`; };
								span1.textContent = category;
								
								let span2 = document.createElement('span');
								span2.setAttribute('uk-nav-parent-icon', '');
								
								anchor.appendChild(span1);
								anchor.appendChild(span2);
								li.appendChild(anchor);
								
								// Recursively build subcategories
								let subUl = document.createElement('ul');
								subUl.className = 'uk-nav-sub';
								subUl.setAttribute('uk-nav', '');
								subUl.style.paddingLeft = '15px';
								buildCategoryTree(subUl, newPath, value);
								li.appendChild(subUl);
								ul.appendChild(li);
							} else if (Array.isArray(value) && value.length > 0) {
								// This category has an array of items
								let li = document.createElement('li');
								li.className = 'uk-parent';
								
								let anchor = document.createElement('a');
								anchor.href = `/index.html?i=files&c=${newPath}/`;
								
								let span1 = document.createElement('span');
								span1.onclick = function() { window.location.href = `/index.html?i=files&c=${newPath}/`; };
								span1.textContent = category;
								
								let span2 = document.createElement('span');
								span2.setAttribute('uk-nav-parent-icon', '');
								
								anchor.appendChild(span1);
								anchor.appendChild(span2);
								li.appendChild(anchor);
								
								let subUl = document.createElement('ul');
								subUl.className = 'uk-nav-sub';
								subUl.style.paddingLeft = '15px';
								
								value.forEach(item => {
									const itemPath = `${newPath}/${item}`;
									let itemLi = document.createElement('li');
									let itemLink = document.createElement('a');
									itemLink.href = `/index.html?i=files&c=${itemPath}/`;
									itemLink.textContent = item;
									itemLi.appendChild(itemLink);
									subUl.appendChild(itemLi);
								});
								
								li.appendChild(subUl);
								ul.appendChild(li);
							} else {
								// This is a leaf category with no children
								let itemLi = document.createElement('li');
								let itemLink = document.createElement('a');
								itemLink.href = `/index.html?i=files&c=${newPath}/`;
								itemLink.textContent = category;
								itemLi.appendChild(itemLink);
								ul.appendChild(itemLi);
							}
						}
						container.appendChild(ul);
					} else if (Array.isArray(categoryObj) && categoryObj.length > 0) {
						// Handle pure array of items
						let ul = document.createElement('ul');
						ul.className = 'uk-nav-default';
						ul.setAttribute('uk-nav', '');
						ul.style.paddingLeft = '0';
						categoryObj.forEach(item => {
							const itemPath = `${path}/${item}`;
							let itemLi = document.createElement('li');
							let itemLink = document.createElement('a');
							itemLink.href = `/index.html?i=files&c=${itemPath}/`;
							itemLink.textContent = item;
							itemLi.appendChild(itemLink);
							ul.appendChild(itemLi);
						});
						container.appendChild(ul);
					}
				}

		// Start building from the root
		buildCategoryTree(target_dir, "", categories);
	}
);
function createSpinner(color=0){
	const spinner = document.createElement("div");
	spinner.classList.add("spinner-element");
	spinner.style.position = "absolute";
	spinner.style.top = "50%";
	spinner.style.left = "50%";
	spinner.style.marginLeft = "-25px";
	spinner.style.marginTop = "-25px";
	spinner.style.display = "flex";
	spinner.style.width = "50px";
	spinner.style.height = "50px";
	spinner.style.border = "4px solid rgba(255, 255, 255, 0.5)";
	spinner.style.borderTop = "4px solid white";
	spinner.style.borderRadius = "50%";
	spinner.style.animation = "spin 1s linear infinite";
	spinner.style.zIndex = "5";
	if (color == 1){
		spinner.style.border = "4px solid rgba(0, 0, 0, 0.5)";
		spinner.style.borderTop = "4px solid black";
		spinner.style.borderRadius = "50%";
		spinner.style.color = "black";
	}
	return spinner;
}

function setGif(item, weburl, loadFailed, overlay, apikey, type) {
	if (type != "still"){
		type="gif"
	}
	overlay.style.opacity = '1';
	overlay.style.visibility = 'visible';
	if (!loadFailed){
		const imgSrc = "https://api.turkuazz.vip/v1/getimage?api-key="+apikey+"&weburl=" + weburl + "&type="+type;
		const rect = item.getBoundingClientRect();

		const spinner = createSpinner();
		
		const container = item.parentElement;
		container.appendChild(spinner);

		const img = new Image();
		img.src = imgSrc;

		img.onload = function () {
			item.src = img.src;
			container.removeChild(spinner);
		};
	}
}
function displayImages(data, apikey,cached=false) {
	if (cached) {
		const weburl = data[0]
		const blob = data[1]
		const item = document.querySelector(`[data-overlay="${weburl}"]`);
		
		if (item) {
			item.src = blob;
			item.loadFailed = false;
			item.onerror = () => { item.loadFailed = true; item.src = "/stuff/best.jpeg"; };
		}

		const container = item.parentElement;
		if (container) {
			const spinner = container.querySelector('.spinner-element');
			if (spinner) {
				container.removeChild(spinner);
			}
		}
	}
	for (const [weburl, imgSrc] of Object.entries(data)) {
		const item = document.querySelector(`[data-overlay="${weburl}"]`);
		if (item) {
			item.src = imgSrc;
			item.loadFailed = false;
			item.onerror = () => { item.loadFailed = true; item.src = "/stuff/best.jpeg"; };
		}
		// delete spinner
		const spinner = document.querySelector('.spinner-element');
		if (spinner) {
			spinner.parentElement.removeChild(spinner);
		}
	}
}

function getcookie(name) {
	var value = "; " + document.cookie;
	var parts = value.split("; " + name + "=");
	if (parts.length == 2) return parts.pop().split(";").shift();
}
function fetchImages(weburls, type, apikey){
    const originalWeburls = [...weburls];
    const uncachedWeburls = [];

    for (const weburl of originalWeburls) {
        const cacheKey = `${weburl}_${type}`;
        const cachedDataUrl = window.sessionStorage.getItem(cacheKey);
        
        if (cachedDataUrl) {
            console.log(`Using cached data for ${weburl}`);
            displayImages([weburl, cachedDataUrl], apikey, true);
        } else {
            uncachedWeburls.push(weburl);
        }
    }

    if (uncachedWeburls.length === 0) {
        return;
    }

    fetch("https://api.turkuazz.vip/v1/getimages?weburls="+uncachedWeburls.join(",")+"&type="+type, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'api-key': apikey
        }
    })
    .then(response => response.arrayBuffer())
    .then(buffer => {
		// not sure how this works
        const results = {};
        let offset = 0;

        while (offset < buffer.byteLength) {
            const idBytes = new Uint8Array(buffer.slice(offset, offset + 8));
            const weburl = new DataView(idBytes.buffer).getBigUint64(0).toString();
            offset += 8;

            const lengthBytes = new Uint8Array(buffer.slice(offset, offset + 4));
            const contentLength = new DataView(lengthBytes.buffer).getUint32(0);
            offset += 4;

            const content = buffer.slice(offset, offset + contentLength);
            const reader = new FileReader();
            reader.onload = function() {
                const dataUrl = reader.result;
                results[weburl] = dataUrl;
                window.sessionStorage.setItem(`${weburl}_${type}`, dataUrl);
                displayImages({[weburl]: dataUrl}, apikey);
            };
            
            // conversion to base64
            const blob = new Blob([content], {type: 'image/jpeg'});
            reader.readAsDataURL(blob);
            
            offset += contentLength;
        }
    })
    .catch(error => {
        console.error("Error fetching images:", error);
    });
}
const _urlParamss = new URLSearchParams(window.location.search);
const _c = _urlParamss.get('c');
if (_c == null) {
	window.pywebview.api.get_lastactivity().then(
		async function(response){
			response = response.replace(/'/g, '"');
			response = JSON.parse(response);
			const apikey = response.shift();
			var lastact = `<h1 style="margin-bottom:95px; width:100%;">last activity</h1>
						<div style="max-height: 600px; overflow-y: auto;min-width:100%; margin-top:-100px;">
							<ul class="uk-list uk-flex uk-flex-row uk-grid-divider">
								<li style="margin-right:-80px;">
								</li>`; // to fix visual bug
			for (const element of response) {
				const weburl = element[0];
				const name = element[1].replace("*", "'");
				const about = element[2]; 
				const catg = element[3];
				const isfirstlast = await window.pywebview.api.isfirst_islast(weburl,catg);
				lastact += `<li>
								<div>
									<div style="position: relative; display: inline-block;">
										<img style="max-width:300px!important; min-width:225px!important; max-height:300px!important; min-height:225px!important; height:auto!important;" src="/stuff/best.jpeg" class="activater_img lazyload" data-overlay="${weburl}">
										<div class="overlayfor_img-${weburl}" style="z-index:10;position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: opacity 0.3s;">
											<div style="position: absolute; bottom:50%;left:50%;transform:translate(-50%, -50%); width: auto; height: auto;background-color:black;opacity:0.75; pointer-events: auto;">
												<a style="color:yellow !important;" href="/index.html?i=files&c=${catg}&focus=${weburl}">open category</a>
											</div>
											<div style="position: absolute; bottom: 10px; left: 10px; width: 40px; height: auto;" onclick="leftImageFunction('${weburl}')">
												<img src="/stuff/x.png" style="width:64px;height:auto;">
											</div>`;
				if (!isfirstlast[0]){
					lastact+=`<div style="position: absolute; bottom: 10px; right: 50px; width: 40px; height: auto;" onclick="middleImageFunction('${weburl}')">
							<img src="/stuff/finish-r.png" style="width:64px;height:auto;">
							</div>`
				}
				if(!isfirstlast[1]){
					lastact+=`<div style="position: absolute; bottom: 10px; right: 10px; width: 40px; height: auto;" onclick="rightImageFunction('${weburl}')">
								<img src="/stuff/finish.png" style="width:64px;height:auto;">
							</div>`
				}
				lastact+=`</div>
						</div>
						<div style="display:flex;justify-content:center;flex-direction:column;">
							<a onclick="vlcopen('${weburl}');" oncontextmenu="copyTextToClipboard('${weburl}')">`+name+`</a>
							<p>`+about+`</p>
						</div>
					</div>
				</li>`;
			}

			lastact += `</ul></div>`;
			catgFiles.innerHTML += lastact;
			let weburls = response.map(e => e[0]);
			// create spinner
			document.querySelectorAll('.activater_img').forEach(item => {
				const spinner = createSpinner(1);
				const container = item.parentElement;
				container.appendChild(spinner);
			});
			weburls.forEach(weburl => {
				const item = document.querySelector(`[data-overlay="${weburl}"]`);
				const overlayClass = item.classList.contains('activater_img') ? 'overlayfor_img-' : (item.classList.contains('activater_img2') ? 'overlayfor_img2-' : 'overlayfor_img3-');
				const overlay = document.querySelector('.' + overlayClass + weburl);
				overlay.addEventListener('mouseover', event => {
					setGif(item, weburl, item.loadFailed, overlay, apikey)
				});
				overlay.addEventListener('mouseout', event => {
					overlay.style.opacity = '0';
					if (!item.loadFailed){
						item.src = window.sessionStorage.getItem(`${weburl}_still`);
					}
				});
			});
			
			fetchImages(weburls, 'still', apikey);
			
			
		}
	);


	window.pywebview.api.get_files("*lastest").then(
		function(response){
			console.log(typeof(response));
			lastupl =`<h1 style="margin-bottom:-5px; width:100%;">last uploads</h1>
						<div style="max-height: 600px; overflow-y: auto;min-width:100%;">
							<ul class="uk-list uk-flex uk-flex-row uk-grid-divider">
								<li style="margin-right:-80px;">
								</li>`; // to fix visual bug
			response = response.replace(/'/g, '"');
			response = JSON.parse(response);
			const apikey = response.shift();
			for (const element of response) {
				//echostuff(element);
				const weburl = element[0];
				const name = element[1];
				const catg = element[2];
				const about = element[3];
				lastupl += `<li>
								<div>
									<div style="position: relative; display: inline-block;">
										<img style="max-width:300px!important; min-width:225px!important; max-height:300px!important; min-height:225px!important; height:auto!important;" src="/stuff/best.jpeg" class="activater_img2" data-overlay="${weburl}">
										<div class="overlayfor_img2-${weburl} lazyload" style="z-index:10;position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: opacity 0.3s;">
											<div style="position: absolute; bottom:50%;left:50%;transform:translate(-50%, -50%); width: auto; height: auto;background-color:black;opacity:0.75; pointer-events: auto;">
												<a style="color:yellow !important;" href="/index.html?i=files&c=${catg}&focus=${weburl}">open category</a>
											</div>
										</div>
									</div>
									<div style="display:flex;justify-content:center;flex-direction:column;">
										<a onclick="vlcopen('${weburl}');" oncontextmenu="copyTextToClipboard('${weburl}')">`+name+`</a>
										<p>`+about+`</p>
									</div>
								</div>
							</li>`;
			};
			lastupl += `</ul></div>`;
			uploadedFiles.innerHTML += lastupl;
			// create spinner
			document.querySelectorAll('.activater_img2').forEach(item => {
				const spinner = createSpinner(1);
				const container = item.parentElement;
				container.appendChild(spinner);
			});
			let weburls = response.map(e => e[0]);
			console.log("weburl", weburls)
			weburls.forEach(weburl => {
				const item = document.querySelector(`[data-overlay="${weburl}"]`);
				const overlayClass = item.classList.contains('activater_img') ? 'overlayfor_img-' : (item.classList.contains('activater_img2') ? 'overlayfor_img2-' : 'overlayfor_img3-');
				const overlay = document.querySelector('.' + overlayClass + weburl);
				overlay.addEventListener('mouseover', event => {
					setGif(item, weburl, item.loadFailed, overlay, apikey)
				});
				overlay.addEventListener('mouseout', event => {
					overlay.style.opacity = '0';
					if (!item.loadFailed){
						item.src = window.sessionStorage.getItem(`${weburl}_still`);
					}
				});
			});
			fetchImages(weburls, 'still', apikey);
		}
	);
	


} else {
	document.querySelector(".sort-button").style.display = "block";
	const splitted_catg = _c.split("/");
	echostuff("got category: " + _c);
	window.pywebview.api.get_categories_list(_c).then( function(response){
		if (response != false) {
			const categories = response["categories"];
			const api_key = response["api_key"]
			if (Object.keys(categories).length > 0) {
				categories.forEach(ctg => {
					let li = document.createElement('li');
					li.setAttribute('style', 'margin-bottom:90px;display:flex;justify-content:center;position:relative;');

					let goto = (_c.endsWith("/") ? _c.slice(0, -1) : _c) + "/" + ctg;
					let imgFallback = "/stuff/folder.png";
					li.innerHTML = `<img style="max-height:250px !important;min-height:150px !important; min-width:150px !important;max-width:250px !important;" class="folder_images" data-id="${goto}" src="${imgFallback}">
					<a href="/index.html?i=files&c=${goto}" style="font-size:larger;padding:10px; overflow-wrap: anywhere;display:flex;justify-content:center;">${ctg}</a>`;
					catgFiles.append(li);

					const img = document.querySelector(`[data-id="${goto}"]`);
					const spinner = createSpinner(1);
					img.parentElement.appendChild(spinner);

					fetch(`https://api.turkuazz.vip/v1/getimage?api-key=${api_key}&category=${goto}`)
						.then(response => {
							if (response.ok) {
								img.src = `https://api.turkuazz.vip/v1/getimage?api-key=${api_key}&category=${goto}`;
							} else {
								img.src = imgFallback;
							}
						})
						.catch(() => {
							img.src = imgFallback;
						})
						.finally(() => {
							spinner.remove();
						});
				});
			}
		}
	});
	// https://api.turkuazz.vip/v1/getimage?api-key=${api_key}&category=${goto}
	if (_c != null) {
		window.pywebview.api.get_files(
			_c
		).then(function(response) {
			const target_dir = document.querySelector(".js-filter");

			const files = response["files"];
			let categories = []
			if (response["categories"] != null){
				categories = response["categories"];
			}
			const apikey = response["apikey"];
			//there should be breadcrumbs and catg-files
			const breadcrumbs = document.querySelector(".breadcrumbs");

			let path = '';
			
			// Build breadcrumbs dynamically for any number of levels
			splitted_catg.forEach((crumb, index) => {
				path += crumb;
				if (index > 0) {
				breadcrumbs.innerHTML += ' / ';
				}
				breadcrumbs.innerHTML += `<a href="/index.html?i=files&c=${path}">${crumb}</a>`;
				path += '/';
			});
			//echostuff(splitted_catg);
			if (categories.length > 0){
				// Render subcategories inside the current category
				categories.forEach(goto => {
					// const ctg = goto.replace(/\/$/, '').split('/').pop();

					const imgFallback = '/stuff/folder.png';

					// Create list item
					const li = document.createElement('li');
					li.innerHTML = `
						<div style="position: relative; display: inline-block;">
							<img
							  class="folder_images"
							  data-id="${goto}"
							  src="${imgFallback}"
							  style="max-width:250px!important; min-width:150px!important; max-height:250px!important; min-height:150px!important;">
						</div>
						<a
						  href="/index.html?i=files&c=${goto}"
						  style="font-size:larger; padding:10px; overflow-wrap:anywhere; display:flex; justify-content:center;">
						  ${goto}
						</a>
					`;
					catgFiles.append(li);

					// Show spinner while fetching the folder thumbnail
					const imgEl = document.querySelector(`[data-id="${goto}"]`);
					const spinner = createSpinner(1);
					imgEl.parentElement.appendChild(spinner);

					// Fetch real folder image
					fetch(`https://api.turkuazz.vip/v1/getimage?api-key=${apikey}&category=${encodeURIComponent(goto)}`)
					  .then(res => {
						if (res.ok) {
						  imgEl.src = `https://api.turkuazz.vip/v1/getimage?api-key=${apikey}&category=${encodeURIComponent(goto)}`;
						} else {
						  imgEl.src = imgFallback;
						}
					  })
					  .catch(() => {
						imgEl.src = imgFallback;
					  })
					  .finally(() => {
						spinner.remove();
					  });
				});
			}
			if (files.length > 0 ) {
				files.forEach(file => {
					let li = document.createElement('li');
					li.setAttribute("data-name", file[1]);
					li.setAttribute("data-size", file[3]);
					li.setAttribute("data-time", file[0]);
					weburl = file[0];
					let html = `<div style="position: relative; display: inline-block;">
								<img id="weburl-`+file[0]+`" src="/stuff/best.jpeg" class="activater_img3 lazyload" data-overlay="${weburl}">
								<div class="overlayfor_img3-${weburl}" style="z-index:10;position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: opacity 0.3s;">
									<div style="position: absolute; bottom:50%;left:50%;transform:translate(-50%, -50%); width: auto; height: auto;background-color:black;opacity:0.75; pointer-events: auto;">
										<a style="color:yellow !important;" href="/index.html?i=edit&focus=${file[0]}">edit file</a>
									</div>
								</div>
							   </div>
							`;
					if (file[4] === "video") {
						html += `<a oncontextmenu="copyTextToClipboard('${file[0]}');return false;" onclick="vlcopen('${file[0]}');" style="font-size:larger;padding:10px; overflow-wrap: anywhere;display:flex;justify-content:center;">${file[1]}</a>`;
					} else {
						html += `<a oncontextmenu="copyTextToClipboard('${file[0]}');return false;" style="font-size:larger;padding:10px; overflow-wrap: anywhere;display:flex;justify-content:center;" target="_blank" href="https://turkuazz.vip/player?vid=${file[0]}">${file[1]}</a>`;
					}
					li.innerHTML = html;
					catgFiles.append(li);
				});
				document.querySelectorAll('.activater_img3').forEach(item => {
					const spinner = createSpinner(1);
					const container = item.parentElement;
					container.appendChild(spinner);
				});

				let weburls3 = [];
				document.querySelectorAll('.activater_img3').forEach(item => {
					weburls3.push(item.getAttribute('data-overlay'));
				});
				weburls3.forEach(weburl => {
					const item = document.querySelector(`[data-overlay="${weburl}"]`);
					const overlayClass = item.classList.contains('activater_img') ? 'overlayfor_img-' : (item.classList.contains('activater_img2') ? 'overlayfor_img2-' : 'overlayfor_img3-');
					const overlay = document.querySelector('.' + overlayClass + weburl);
					overlay.addEventListener('mouseover', event => {
						setGif(item, weburl, item.loadFailed, overlay, apikey)
					});
					overlay.addEventListener('mouseout', event => {
						overlay.style.opacity = '0';
						if (!item.loadFailed){
							item.src = window.sessionStorage.getItem(`${weburl}_still`);
						}
					});
				});
				const per_numberofimg = 5
				for (let i = 0; i < weburls3.length; i += per_numberofimg) {
					const chunk = weburls3.slice(i, i + per_numberofimg)
					fetchImages(chunk, 'still', apikey)
					let checkingimg = document.getElementById("weburl-"+chunk[0])
					console.log("srcccc", checkingimg.src)
					
				}

			} else {
				window.pywebview.api.get_categories_list(_c).then( function(response){
					catgFiles.innerHTML += `<li style="margin-bottom:90px;display:flex;justify-content:center;"><a style="color:white !important;font-size:larger;padding:10px; overflow-wrap:anywhere;display:flex;justify-content:center;">no files</a></li>`;
				});
			}
		});
	}
}




function leftImageFunction(weburl){
	pywebview.api.activities_remove_video(weburl).then(
		function(response){
			echostuff(response);
			window.location.href="/index.html?i=files";
		}
	);

}
function middleImageFunction(weburl){
	pywebview.api.activities_back_video(weburl).then(
		function(response){
			echostuff(response);
			window.location.href="/index.html?i=files";
		}
	);

}
function rightImageFunction(weburl){
	pywebview.api.activities_finish_video(weburl).then(
		function(response){
			echostuff(response);
			window.location.href="/index.html?i=files";
		}
	);
}

function vlcopen(vid) {
	window.pywebview.api.openvlc(vid).then(
	function(response){
		// echostuff(response);
	});
}

if (document.cookie.indexOf("sent=") == -1) {
	document.cookie = "sent=1";
	UIkit.notification({message: 'right click to copy the webid', pos: 'top-right', timeout:2000, status: 'danger'});
}

</script>
<style>
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	.glow {
		position: relative; /* Ensure the box-shadow applies to the content area only */
		z-index: 1; /* Make sure the glow is above other elements */
		animation: glowEffect 1s ease-in-out;
	}

	@keyframes glowEffect {
		0% {
			box-shadow: 0 0 5px 3px rgba(255, 255, 0, 0.6);
		}
		50% {
			box-shadow: 0 0 15px 6px rgba(255, 255, 0, 0.9);
		}
		100% {
			box-shadow: 0 0 5px 3px rgba(255, 255, 0, 0.6);
		}
	}

</style>
<script>
	requestAnimationFrame(() => {
		const _focused = document.getElementById("weburl-"+_urlParamss.get('focus'));
		if (_focused){
		setTimeout(() => {
			_focused.scrollIntoView({ behavior: "smooth"});
			_focused.classList.add("glow")
		}, 100);

		setTimeout(() => {
			_focused.classList.remove("glow");
		}, 1000);
	}
});
    



</script>