<script src="/js/lazysizes.js" async></script>
<link rel="stylesheet" href="/stuff/header.css" />
<link rel="stylesheet" href="/stuff/uikit.css" />
<script src="/js/jquery.js"></script>
<script src="/js/uikit.js"></script>
<script src="/js/uikit-icons.js"></script>


<div data-include="/stuff/header"></div>
<div class="current-page"></div>
<div data-include="/stuff/footer"></div>
<style>
body {
	visibility: hidden;
	transition:visibility 0.175s linear,opacity 0.175s linear;
	opacity:0;
}
</style>


<script>
window.addEventListener('pywebviewready', async function() {
	await start();
});

async function loadpages(){
	const _urlParams = new URLSearchParams(window.location.search);
	const _i = _urlParams.get('i');
	const _current_page = document.querySelector('.current-page');
	_current_page.innerHTML = `<div class="current-page" data-include="${_i}"></div>`;
	const _includes = document.querySelectorAll('[data-include]');

	$.each(_includes, function () {
		var file = $(this).data('include') + '.html';
		$(this).load(file);
	});
}

async function makevisible(){
	var _body = document.getElementsByTagName("body")[0];
	_body.style.visibility = "visible";
	_body.style.opacity = "1";
}

async function start(){
	await loadpages();
	await makevisible();
};

</script>