<!-- TODO: get rid of uikit. maybe tailwind? -->
<link rel="stylesheet" href="/stuff/header.css" />
<link rel="stylesheet" href="/stuff/uikit.css" />
<script src="/js/uikit.js"></script>
<script src="/js/uikit-icons.js"></script>


<div data-include="/stuff/header"></div>
<div class="current-page"></div>
<div data-include="/stuff/footer"></div>
<style>
body {
	visibility: hidden;
	transition:visibility 0.175s linear,opacity 0.175s linear;
	opacity:0;
}
</style>


<script>
window.addEventListener('pywebviewready', async function() {
	await start();
});
const _urlParams = new URLSearchParams(window.location.search);
console.log("params:"+_urlParams)
async function loadpages(){
	const _i = _urlParams.get('i');
	const _current_page = document.querySelector('.current-page');
	_current_page.innerHTML = `<div class="current-page" data-include="${_i}"></div>`;
	const _includes = document.querySelectorAll('[data-include]');

	_includes.forEach((element) => {
		console.log(element.getAttribute('data-include'))
		const file = element.getAttribute('data-include') + '.html'
		fetch(file)
			.then(response => response.text())
			.then(data => {
				element.innerHTML = data;
				// Run any scripts that were inserted
				const scripts = element.querySelectorAll('script');
				scripts.forEach(script => {
					const newScript = document.createElement('script');
					// Copy all attributes
					Array.from(script.attributes).forEach(attr => {
						newScript.setAttribute(attr.name, attr.value);
					});
					// Copy the content
					newScript.textContent = script.textContent;
					// Replace the old script with the new one to execute it
					script.parentNode.replaceChild(newScript, script);
				});
			})

	})
	// $.each(_includes, function () {
	// 	var file = $(this).data('include') + '.html';
	// 	$(this).load(file);
	// });
}

async function makevisible(){
	var _body = document.getElementsByTagName("body")[0];
	_body.style.visibility = "visible";
	_body.style.opacity = "1";
}

async function start(){
	await loadpages();
	await makevisible();
};

</script>